@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .input {
        corner-shape: squircle;
        @apply border border-gray-300 rounded-lg focus:border-[--color-primary] focus:ring-[--color-primary];
    }
}

* {
    box-sizing: border-box;
}

:root {
    --color-white: #FFFFFF;
    --color-lightgray: #FAFAFA;
    --color-brown: #4d3928;

    --color-primary: #00AAAA;
}

html {
    scroll-behavior: smooth;

    --text-color: var(--color-brown);
    --body-background-color: var(--color-lightgray);
    --button-primary-background-color: var(--color-primary);
    --button-primary-hover-background-color: #008888;
    --button-transparent-hover-background-color: #FFFFFF40;
}

body {
    display: flex;
    flex-direction: column;

    font-family: "Poppins", sans-serif;
    color: var(--text-color);

    background-color: var(--body-background-color);

    min-height: 100vh;
    margin: 0;
}

body.scroll-lock {
    overflow: hidden;
}

body.scroll-lock::after {
    content: '';
    position: fixed;
    top: 125px;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Amaranth", sans-serif;
    line-height: 1;
    font-weight: bold;
    color: var(--color-primary);

    margin: 0;
}

h1 {
    font-size: 60px;
    color: unset;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

section h2, section h3 {
    margin-bottom: 15px;
}

main {
    flex-grow: 1;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}

nav, footer {
    background-color: var(--color-white);
}

nav {
    position: relative;
}

nav .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}

nav img {
    display: block;

    height: 56px;
}

nav .nav-headings {
    display: flex;
    gap: 50px;

    list-style-type: none;

    font-weight: 600;
}

nav .nav-headings li {
    display: inline-block;
    position: relative;

    cursor: pointer;

    padding: 28px 0;
}

nav .nav-headings li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;

    background-color: var(--color-primary);
    transition: width 0.25s, height 0.25s;

    width: 0;
    height: 0;
    transform: translateX(-50%);
}

nav .nav-headings li[aria-expanded='true']::after {
    width: 100%;
    height: 3px;
}

nav #mega-menu {
    position: absolute;
    top: 100%;
    left: 0;

    opacity: 0;

    width: 100%;
    z-index: 999;
}

nav #mega-menu.fade-in {
    transition: opacity 0.25s;
    opacity: 1;
}

nav #mega-menu.active {
    opacity: 1;
}

nav #mega-menu .nav-container {
    display: none;
}

nav #mega-menu .nav-container.active {
    display: block;
}

nav #mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;

    transition: opacity 0.25s;
    opacity: 0;

    width: 100%;
    max-height: calc(100dvh - 100%);
    overflow-y: auto;
    z-index: -1;
}

nav #mobile-menu.active {
    opacity: 1;
    z-index: 999;
}

nav #mobile-menu .nav-container {
    display: none;
}

nav #mobile-menu .nav-container.active {
    display: flex;
}

nav .admin-nav a {
    border: solid 2px transparent;

    transition: border 0.25s;
}

nav .admin-nav a:hover {
    border: solid 2px var(--color-white);
}

footer {
    font-size: 14px;

    padding: 10px 0;
}

footer .footer-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-width: 1200px;
    margin: 0 auto;
    padding: 12px 12px 0;
}

.grid > :only-child {
    @media (width > 640px) {
        grid-column: 2;
    }
}

details {
    border-top: 1px solid #E5E7EB;
    border-bottom: 1px solid #E5E7EB;

    width: 100%;
    padding: 10px 0;
}

details + details {
    border-top: none;
}

.video-opener {
    position: relative;
}

.video-opener .fa-circle-play {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 5rem;
    color: var(--color-white);

    transform: translate(-50%, -50%);
    pointer-events: none;
}
